h2{

    color: #0F9FAB;
    padding-top: 5%;
    font-family: "Century Schoolbook", serif;
}

.makeBlue{
    background-color: lightseagreen;
}

p{
    color: #39312F;
    font-family: Futura, sans-serif;
}



.border{
    border:5px;
    border-color:black;
    border-style:solid;
    margin:30px;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
/* .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
} */
