h2{

    color: #0F9FAB;
    padding-top: 5%;
    font-family: "Century Schoolbook", serif;
}

.makeBlue{
    background-color: lightseagreen;
}

p{
    color: #39312F;
    font-family: Futura, sans-serif;
}